<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ltd.goods.cloud.taoduoduo.mapper.GoodsMapper">

    <update id="update" parameterType="ltd.goods.cloud.taoduoduo.entity.Goods">
        UPDATE tb_newbee_mall_goods_info
        <set>
            <if test="goodsName != null">goods_name = #{goodsName}, </if>
            <if test="goodsIntro != null">goods_intro = #{goodsIntro}, </if>
            <if test="goodsCategoryId != null">goods_category_id = #{goodsCategoryId}, </if>
            <if test="goodsCoverImg != null">goods_cover_img = #{goodsCoverImg}, </if>
            <if test="goodsCarousel != null">goods_carousel = #{goodsCarousel}, </if>
            <if test="originalPrice != null">original_price = #{originalPrice}, </if>
            <if test="sellingPrice != null">selling_price = #{sellingPrice}, </if>
            <if test="stockNum != null">stock_num = #{stockNum}, </if>
            <if test="tag != null">tag = #{tag}, </if>
            <if test="goodsSellStatus != null">goods_sell_status = #{goodsSellStatus}, </if>
            <if test="createUser != null">create_user = #{createUser}, </if>
            <if test="createTime != null">create_time = #{createTime}, </if>
            <if test="updateUser != null">update_user = #{updateUser}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
            <if test="goodsDetailContent != null">goods_detail_content = #{goodsDetailContent}, </if>
        </set>
        WHERE goods_id = #{goodsId}
    </update>

    <select id="pageQuery" resultType="ltd.goods.cloud.taoduoduo.entity.Goods">
        SELECT *
        FROM tb_newbee_mall_goods_info
        <where>
            <if test="goodsName != null and goodsName != ''">
                AND goods_name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="goodsSellStatus != null">
                AND goods_sell_status = #{goodsSellStatus}
            </if>
            <if test="startTime != null and startTime.trim() != ''">
                AND create_time &gt; #{startTime}
            </if>
            <if test="endTime != null and endTime.trim() != ''">
                AND create_time &lt; #{endTime}
            </if>
        </where>
        ORDER BY goods_id DESC
    </select>

    <update id="batchUpdateSellStatus">
        UPDATE tb_newbee_mall_goods_info
        SET goods_sell_status = #{sellStatus}, update_time = now()
        WHERE goods_id IN
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateStockNum">
        <foreach collection="stockNumDTOS" item="stockNumDTO">
            UPDATE tb_newbee_mall_goods_info
            SET stock_num = stock_num - #{stockNumDTO.goodsCount}
            WHERE goods_id = #{stockNumDTO.goodsId} AND stock_num >= #{stockNumDTO.goodsCount} AND goods_sell_status = 0
        </foreach>
    </update>

    <select id="findByIds" resultType="ltd.goods.cloud.taoduoduo.entity.Goods">
        SELECT *
        FROM tb_newbee_mall_goods_info
        WHERE goods_id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>

