<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ltd.shopcart.cloud.taoduoduo.mapper.ShoppingCartMapper">

    <select id="pageQuery" resultType="ltd.shopcart.cloud.taoduoduo.entity.ShoppingCartItem">
        SELECT *
        FROM tb_newbee_mall_shopping_cart_item
        WHERE is_deleted = 0
    </select>

</mapper>